/* Write your code here: */
h1,
h2{
    color: blueviolet;
}

div > p{
    color: firebrick;
}

.box li{
    color: blue;
}

li.done{
    color: yellow;
}

ul  > p{
    color: green;
}

p{
    color:magenta;
}

ul p.done{
    font-size: 0.5rem;
}